.slider_container{
   height: 250px;
   margin: auto;
   position: relative;
   width: 100%;
   display: grid;
   place-items:center;
   /* position: fixed; */
   overflow-x: hidden;
   overflow-y: hidden; 
}

.silder_trak{
   display: flex;
   
   width: calc(10px * 18);
    animation: scroll 80s linear infinite;
  
}
.silder_trak:hover{
  animation-play-state: paused;
     
 }
.slider_slide{
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    padding: 15px;
    /* perspective: 100px; */
  
}
.imgZ{
    height: 250px;
    width: 250px;
    transition: transform 0.5s;
    padding: 5px;
}
.imgZ:hover{
    transform: translateZ(20px)
}

.slider_container::before,
.slider_container::after{
    /* background-color: #e5bac1; */
    content: '';
    height: 100%;
    position: absolute;
    width: 4%;
    z-index: 7;
}
.slider_container::before{
    left: 0;
    top: 0;
}
.slider_container::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
img :hover{
    transform: translate(20px);
}

@keyframes scroll{
    
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 9));
    }
}
